.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

html { 
  background: url(/assets/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#backgroundPhoto {
  background: url(/assets/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#tableMenu { 
  background: url(/assets/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
}

#tableRow { 
  background: url(/assets/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(250, 250, 250, 0.787);
  border-radius: 10px;
  /* color: green; */
  height: 65px;
}

#tableCell{
  font-size: 44px;
}

.App-header {
  font-size: 64px;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-size: 64px;
  color: white;
}

table { 
  border-collapse: collapse; 
} 
th, td { 
  width:150px; 
  text-align:center; 
  /* border:1px solid black;  */
  padding:5px 
} 

tr{
  font-size: 44px;
}